/************************* F O N T S********************************/

@font-face {
	font-family: 'GothamBold';
	src: url('../font/Gotham_bold.eot');
	src: local('gothambold'), url('../font/gotham_bold.ttf') format('truetype');
	
	font-family: 'Merriweather';
	src: url('../font/Merriweather-Light.ttf');
	src: local('Merriweather-Light'), url('../font/Merriweather-Light.ttf') format('truetype');
	
	
	font-weight: normal; 
	font-style: normal;
}
/*******************************************************************/
/*********************** H E A D E R *******************************/

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_10146">Text with this font applied</p> */

.nomo-header{
background: #fee300;
background: -moz-linear-gradient(center top , #8B5C94, #BC8FC0) repeat scroll 0 0 transparent !important;
background: -webkit-gradient(linear, left center, left top, from(#8B5C94), to(#BC8FC0)) !important;
background: -webkit-linear-gradient(center, #8B5C94,#BC8FC0)!important;
background: -ms-linear-gradient(center, #8B5C94, #BC8FC0)!important;
background: -o-linear-gradient(center, #8B5C94, #BC8FC0)!important;
background: linear-gradient(center, #8B5C94, #BC8FC0)!important;
filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#8B5C94', EndColorStr='#BC8FC0')!important;
color: #FFFFFF !important;

}
.nomo-header-title{
text-align:center;
padding:3px;
border: solid #421F42 2px;
}

.nomo-header-title span{
color: white;
vertical-align: middle;
line-height: 30px;
font-family: 'Merriweather' !important;
font-size:24px;
}
.nomo-header-title img{
vertical-align: middle;
}
.nomo-header-subtitle{
	
}




.nomo-header-menu{
	margin-top:3px !important;
}

.nomo-header-lang{
	margin-top:9px !important;
}

.nomo-header .ui-btn-left{
	padding: 0;
	background: none;
	border: 0;
}
.ui-header .ui-btn-right{
	padding-top: 0px!important;
	padding-bottom: 6px!important;
	padding-left: 6px!important;
	padding-right: 6px!important;
	margin-top: 3px!important;
	background: none;
	border: none;
}



/*******************************************************************/
/******************** C O N T E N E D O R*********************/
.ui-content{
margin: 2%;
font-size: 20px;
}
.message{
border: solid red 1px;
padding: 10px;
color: red;
font-size:18px;
}
/*POP UP*/
.ui-popup.ui-body-inherit{
padding: 8px 25px 8px 20px;
}
.img-help{
width:25px;
height:auto;
margin-left: 5px;
margin-top: 4px;
margin-bottom:.4em
}
.input-box{
margin-top: 25px;

}
/**************************** I N D E X*********************************/


#eye .ui-btn-active{
background-color: #8B5C94;
border-color: #421F42;
color: #fff;
text-shadow: 0 1px 0 #059;
}
#link-cuestionary{
background: #fee300;
background: -moz-linear-gradient(center top , #8B5C94, #BC8FC0) repeat scroll 0 0 transparent !important;
background: -webkit-gradient(linear, left center, left top, from(#8B5C94), to(#BC8FC0)) !important;
background: -webkit-linear-gradient(center, #8B5C94,#BC8FC0)!important;
background: -ms-linear-gradient(center, #8B5C94, #BC8FC0)!important;
background: -o-linear-gradient(center, #8B5C94, #BC8FC0)!important;
background: linear-gradient(center, #8B5C94, #BC8FC0)!important;
filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#8B5C94', EndColorStr='#BC8FC0')!important;
color: #FFFFFF !important;
}


/*******************************************************************/
/******************** C U E S T I O N A R Y *********************/

#link-result{
background: #fee300;
background: -moz-linear-gradient(center top , #8B5C94, #BC8FC0) repeat scroll 0 0 transparent !important;
background: -webkit-gradient(linear, left center, left top, from(#8B5C94), to(#BC8FC0)) !important;
background: -webkit-linear-gradient(center, #8B5C94,#BC8FC0)!important;
background: -ms-linear-gradient(center, #8B5C94, #BC8FC0)!important;
background: -o-linear-gradient(center, #8B5C94, #BC8FC0)!important;
background: linear-gradient(center, #8B5C94, #BC8FC0)!important;
filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#8B5C94', EndColorStr='#BC8FC0')!important;
color: #FFFFFF !important;
border-color: #421F42;
}
#linkback-index{
background: #fee300;
background: -moz-linear-gradient(center top , #636363, #A1A1A1) repeat scroll 0 0 transparent !important;
background: -webkit-gradient(linear, left center, left top, from(#636363), to(#A1A1A1)) !important;
background: -webkit-linear-gradient(center, #636363,#A1A1A1)!important;
background: -ms-linear-gradient(center, #636363, #A1A1A1)!important;
background: -o-linear-gradient(center, #636363, #A1A1A1)!important;
background: linear-gradient(center, #636363, #A1A1A1)!important;
filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#636363', EndColorStr='#A1A1A1')!important;
color: #FFFFFF !important;

}

.keratometry-input{
float:left;
width:46%;
margin-bottom:30px
}
.keratometry-label{
text-align: center;
float:left;
margin-top:23px!important;
margin-left:2.5%!important;
margin-right:2.5%!important;
}
.title-label{
font-size:24px!important;
}

.refraction-input{
float:left;
width:46%;
margin-bottom:30px;
}
.refraction-label{
text-align: center;
float:left;
margin-top:23px!important;
margin-left:2.5%!important;
margin-right:2.5%!important;
}


/*********************R E S U L T ***********************************/
.separadorLinea{
margin-top: 30px;
margin-bottom: 30px;
}


/*******************************************************************/
/******************** T R A N S I C I O N E S **********************/
table { width:100%; border-spacing: 0; }
th { text-align:left; }
th h3 { margin:.8em 0 .6em 1.5em; }
th, td { vertical-align:top; border-top:1px solid #eee; padding: 1px 3px; background-color:#fcfcfc; }
td .ui-btn { margin:.4em 0 .5em 0; }
td .ui-btn-inner { padding: .4em 15px; }
/*******************************************************************/